<!DOCTYPE html>
<html>
    <head>
        <title> my blogs page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" />
        <link rel="stylesheet" href="/stylesheet/app.css">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
  <a class="active item" href="/">
      <i class="columns icon"></i>
    blogs
  </a>
  <a class="item" href="/blogs/new">
    add new
  </a>
  </div>
</div>
<div class="ui container">